<a href="https://colab.research.google.com/github/abdulrhmannassef/Iris-data/blob/main/Copy_of_abdulrhman_ahmed_faried_nassef.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("FuelEconomy.csv")

In [ ]:
df.head(10)

   Horse Power  Fuel Economy (MPG)
0   118.770799           29.344195
1   176.326567           24.695934
2   219.262465           23.952010
3   187.310009           23.384546
4   218.594340           23.426739
5   175.838106           24.173571
6   271.441608           17.163583
7   294.425916           17.274218
8   126.211008           28.718210
9   163.350335           28.289516

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Horse Power,100.0,213.676190,62.061726,50.0,174.996514,218.928402,251.706476,350.0
Fuel Economy (MPG),100.0,23.178501,4.701666,10.0,20.439516,23.143192,26.089933,35.0

In [ ]:
df.isna().sum()

Horse Power           0
Fuel Economy (MPG)    0
dtype: int64

In [ ]:
df.shape

(100, 2)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
lineReg = LinearRegression()

In [ ]:
x_features = df[['Horse Power']]
y_target = df[['Fuel Economy (MPG)']]

In [ ]:
X_train , X_test, y_train,y_test= train_test_split(x_features, y_target)

In [ ]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(75, 1) (25, 1) (75, 1) (25, 1)

In [ ]:
lineReg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#print the mean squared error MSE
print("MSE %.2f" %np.mean((lineReg.predict(X_test)-y_test)**2))

MSE 1.66

In [ ]:
#print the variance
print("variance %.2f" %lineReg.score(X_test,y_test))

variance 0.90

In [ ]:
lineReg.score(X_test,y_test)

0.9042213947841071